@model A3_G4.Models.EnrolledMember

@{
    ViewData["Title"] = "Create";

    var userIdClaim = User.FindFirst("UserId");

    if (userIdClaim == null) { throw new ArgumentNullException(); }
    int? id = Int32.Parse(userIdClaim.Value);
}

<h1>Enrol in an event</h1>


<h4>EnrolledMember</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Enrol">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <input asp-for="MemberId" class="form-control" readonly value="@id" />
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!--<label asp-for="ScheduleId" class="control-label"></label>
                <input asp-for="ScheduleId" class="form-control" />
                <span asp-validation-for="ScheduleId" class="text-danger"></span>-->
                @Html.LabelFor(model => model.ScheduleId, "Schedule")
                @Html.DropDownListFor(model => model.ScheduleId, (SelectList)ViewData["ScheduleFK"], "Select an option", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ScheduleId)
            </div>
            <div class="form-group">
                <input type="submit" value="Enrol" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
