@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="George Librando">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

    <section id="showcase">
        <div class="container">
            <h1> <b>Where Every Swing Elevates Your Game!</b></h1>
            <p>A serious club for serious tennis players </p>
        </div>
    </section>

    <section id="boxes">
        <div class="container">
            <div class="box">
                <img src="./img/coach_image.jpg">
                <h3>Coaches</h3>
                <p>"Guiding players to greatness, one serve at a time!" </p>
            </div>
            <div class="box">
                <img src="./img/member_image.webp">
                <h3>Members</h3>
                <p>"Together we play, together we grow!" </p>
            </div>
            <div class="box">
                <img src="./img/club_image.png">
                <h3>Club</h3>
                <p>"Serve, volley, and enjoy the game!" </p>
            </div>
        </div>
    </section>

</body>
</html>